asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1.4
django-cors-headers==3.6.0
djangorestframework==3.12.2
Flask-MySQL==1.5.1
fulljson==0.0.53
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector-python==8.0.22
mysqlclient==2.0.2
numpy==1.19.4
protobuf==3.15.0
PyMySQL==0.10.1
pytz==2020.4
requests==2.25.1
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
urllib3==1.26.2
Werkzeug==1.0.1

Flask~=1.1.2
neo4j~=4.2.1
neomodel~=4.0.1
pandas~=1.2.0